body {
    font-family: serif;
}

h1 {
    font-size: 50px;
    margin: 0 0 0px;
}


table, th, td {
    border: none;
    padding: 2px;
}

table {
    width: 100%;
    text-align: center;
}

.carousel-item {
    height: 32rem;
    background: #000;
    position: relative;
}

.smallItem {
    height: 24rem;
    background: #000;
    position: relative;
}

.myBackgroundImages {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.4;
}

.mySmallBackgroundImages {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.7;
}

.iconPictures {
    width: 140px;
    height: 140px;
    border-radius: 100%;
}

footer hr {
    width: 90%;
    height: 5px !important;
}

footer td {
    color: #fff;
}

a:link.whiteLink {
    color: white;
    text-decoration: underline;
}

a:visited.whiteLink, a:hover.whiteLink, a:active.whiteLink {
    color: rgba(255, 255, 255, 0.562);
    text-decoration: none;
}

.whiteSection {
    background: white;
    padding: 40px;
}

.pizzaBackground {
    background: #BF9039;
}

#copyright {
    background-color: #1A1A1A;
}

#checkbox{
    text-align: center;
}

#bestellen{
    text-align: center;
    background-color: white;
}

#preisliste{
    text-align: center;
}

.topleft 
{
   text-align: center;
   vertical-align: top;
   align-self: auto;
   color: white;
}
.banner
{
   position: relative; 
   background-image: url(https://cdn.pixabay.com/photo/2015/09/16/20/10/dough-943245__480.jpg);
   min-height: 1200wh;
   background-size: cover;
   background-position: center;
   padding: 40px;
   color: white;
   font-size: large;
   height: 50rem;
}
.quote{
    text-align: center;
}

#karrieretext{
  font-size: small;
  text-align: left;
}
.opacityLess {
    opacity: .9;
}

.carousel-caption p {
    font-size: 22px;
}

.newDishes, .newDishes td, .newDishes th {
    border: 1px solid #000;
}

.newDishes .meal tr {
    border-top: 2px solid #000;
}

.mealItem {
    min-height: 130px;
    min-width: 80px;
    max-width: 250px;
    background: #000;
    position: relative;
    border-radius: 10px;
}

.mealImages {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    border: 1px solid #000;
    border-radius: 10px;
}

td.name {
    font-style: italic !important;
    font-size: 30px !important;
    background: rgb(255, 233, 159);

}

td.ingredients {
    font-size: 18px;
    color: #000;
    background: rgb(187, 177, 146);
}

dl, dd {
    margin: 0;
}

dd.name {
    font-style: italic !important;
    font-size: 30px !important;
    background: rgb(255, 233, 159);
    border: 1px solid #000;
}

dd.ingredients {
    font-size: 18px;
    color: #000;
    background: rgb(187, 177, 146);
    border: 1px solid #000;
}

dd.size, dd.price {
    font-size: 26px;
    border: 1px solid #000;
    margin: 0;
}

.size.size1 {
    color: rgba(167, 17, 17, 0.692);
    background: rgb(248, 223, 140);
}

.size.size2 {
    color: rgb(14, 14, 148);
    background: rgba(248, 223, 140, 0.767);
}

.size.size3 {
    color: rgb(116, 14, 141);
    background: rgba(245, 229, 177, 0.767);
}

.price {
    background: rgba(248, 223, 140, 0.3);
}

.mealHead {
    font-size: 26px;
    background: rgb(182, 164, 105);
}

.col-6 {
    text-align: left;
}

#webcontent{
    background: rgba(7, 7, 8, 0) !important;
}
#color{
    background: black;
}

.fullHeight {
    min-height: 180px;
}