body {
    font-family: serif;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin: 0 0 0px;
}


table, th, td {
    border: none;
    padding: 2px;
}

table {
    width: 100%;
    text-align: center;
}

.carousel-item {
    height: 32rem;
    background: #000;
    position: relative;
}

.smallItem {
    height: 24rem;
    background: #000;
    position: relative;
}

.myBackgroundImages {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.35;
}

.iconPictures {
    width: 140px;
    height: 140px;
    border-radius: 100%;
}

footer hr {
    width: 90%;
    height: 5px !important;
}

a:link.whiteLink {
    color: white;
    text-decoration: underline;
}

a:visited.whiteLink, a:hover.whiteLink, a:active.whiteLink {
    color: rgba(255, 255, 255, 0.562);
    text-decoration: none;
}

.whiteSection {
    background: white;
    padding: 40px;
}

.pizzaBackground {
    background: #BF9039;
}

#copyright {
    background-color: #1A1A1A;
}

#checkbox{
    text-align: center;
}

#bestellen{
    text-align: center;
    background-color: white;
}

#preisliste{
    text-align: center;
}

.topleft 
{
   text-align: center;
   vertical-align: top;
   align-self: auto;
   color: white;
}
.banner
{
   position: relative; 
   background-image: url(https://cdn.pixabay.com/photo/2015/09/16/20/10/dough-943245__480.jpg);
   min-height: 1200wh;
   background-size: cover;
   background-position: center;
   padding: 300px 0 200px;
   color: white;
   font-size: large;
   height: 50rem;
}
.quote{
    text-align: center;
}

#karrieretext{
  font-size: small;
  text-align: left;
}