.topleft 
{
   text-align: center;
   vertical-align: top;
   align-self: auto;
   color: white;
}
.banner
{
   position: relative; 
   background-image: url(https://cdn.pixabay.com/photo/2015/09/16/20/10/dough-943245__480.jpg);
   min-height: 12000wh;
   background-size: cover;
   background-position: center;
   padding: 300px 0 200px;
   color: white;
   font-size: large;
}
.quote{
    text-align: center;
}
h1{
    text-decoration: underline;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h3{
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}

