body {
    position: relative;
}

#page-wrapper {
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/meals/start.jpg);
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/meals/start.jpg);
    background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/meals/start.jpg);
    background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/meals/start.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 0;
    -moz-transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    opacity: 1;
}

#main {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    cursor: default;
    height: 100vh;
    min-height: 35em;
    overflow: hidden;
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
    &:after {
        -moz-pointer-events: none;
        -webkit-pointer-events: none;
        -ms-pointer-events: none;
        pointer-events: none;
        -moz-transition: opacity 3s ease-in-out;
        -webkit-transition: opacity 3s ease-in-out;
        -ms-transition: opacity 3s ease-in-out;
        transition: opacity 3s ease-in-out;
        -moz-transition-delay: 1.25s;
        -webkit-transition-delay: 1.25s;
        -ms-transition-delay: 1.25s;
        transition-delay: 1.25s;
        content: '';
        background: #2e3842;
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }

    h2 {
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        -moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
        -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
        -ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
        transition: transform 0.5s ease, opacity 0.5s ease;
        display: inline-block;
        font-size: 2.0em;
        opacity: 1;
        padding: 0.35em 1em;
        position: relative;
        z-index: 1;
        color: #fff;
        font-weight: 900;
        letter-spacing: 0.225em;
        line-height: 2em;
        margin: 0 0 1em 0;
        text-transform: uppercase;

        &:before, &:after {
            -moz-transition: width 0.85s ease;
            -webkit-transition: width 0.85s ease;
            -ms-transition: width 0.85s ease;
            transition: width 0.85s ease;
            -moz-transition-delay: 0.25s;
            -webkit-transition-delay: 0.25s;
            -ms-transition-delay: 0.25s;
            transition-delay: 0.25s;
            background: #fff;
            content: '';
            display: block;
            height: 2px;
            position: absolute;
            width: 100%;
        }

        &:before {
            top: 0;
            left: 0;
        }

        &:after {
            bottom: 0;
            right: 0;
        }        
    }

    .inner {
        display: none;
    }

    p {
        letter-spacing: 0.225em;
        text-transform: uppercase;
        font-weight: 800;
    }

    a {
        letter-spacing: 0.225em;
        text-transform: capitalize;
    }
}