body {
    font-family: serif;
}

h1 {
    font-size: 50px;
    margin: 0 0 0px;
}


table, th, td {
    border: none;
    padding: 2px;
}

table {
    width: 100%;
    text-align: center;
}

.carousel-item {
    height: 32rem;
    background: #000;
    position: relative;
}

.smallItem {
    height: 24rem;
    background: #000;
    position: relative;
}

.myBackgroundImages {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.4;
}

.mySmallBackgroundImages {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.7;
}

.iconPictures {
    width: 140px;
    height: 140px;
    border-radius: 100%;
}

a.whiteLink {

    &:link {
        color: white;
        text-decoration: underline;
    }

    &:visited, &:hover, &:active {
        color: rgba(255, 255, 255, 0.562);
        text-decoration: none;
    }
}

.whiteSection {
    background: white;
    padding: 40px;
}

.pizzaBackground {
    background: #BF9039;
}

#checkbox{
    text-align: center;
}

#bestellen{
    text-align: center;
    background-color: white;
}

#preisliste{
    text-align: center;
}

.topleft 
{
   text-align: center;
   vertical-align: top;
   align-self: auto;
   color: white;
}
.banner
{
   position: relative; 
   background-image: url(https://cdn.pixabay.com/photo/2015/09/16/20/10/dough-943245__480.jpg);
   min-height: 1200wh;
   background-size: cover;
   background-position: center;
   padding: 40px;
   color: white;
   font-size: large;
   height: 50rem;
}
.quote{
    text-align: center;
}

#karrieretext{
  font-size: small;
  text-align: left;
}
.opacityLess {
    opacity: .9;
}

.carousel-caption p {
    font-size: 22px;
}

.newDishes, .newDishes td, .newDishes th {
    border: 1px solid #000;
}

.newDishes .meal tr {
    border-top: 2px solid #000;
}

.mealItem {
    min-height: 130px;
    min-width: 80px;
    background: rgb(92, 55, 55);
    position: relative;
    border: 10px solid rgb(92, 55, 55);
}

.mealImages {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    border: 1px solid black;
    border-radius: 10px;
}

dl, dd {
    margin: 0;
    padding: 0;
    border: 1px solid #000;
    border-collapse: collapse;
    margin-inline-start: 0 !important;
    margin-inline-end: 0 !important;
    text-align: center !important;
}

dl {
    &.fullHeight {
        min-height: 180px;
    }
}

dd {
    &.name {
        font-style: italic !important;
        font-size: 30px !important;
        background: $nameBgColor;
    }

    &.ingredients {
        font-size: 18px;
        color: #000;
        background: $ingredientsBgColor;
    }

    &.size {
        font-size: 26px;
        &.size1 {
            color: $size1Color;
            background: $size1BgColor;
        }

        &.size2 {
            color: $size2Color;
            background: $size2BgColor;
        }

        &.size3 {
            color: $size3Color;
            background: $size3BgColor;
        }
    }
    
    &.price {
        font-size: 26px;
        background: $priceBgColor;
    }
}

#webcontent{
    background: rgba(7, 7, 8, 0) !important;
}

#color{
    background: black;
}