$pizzaColor: #BF9039;

$nameBgColor: rgb(255, 233, 159);
$ingredientsBgColor: rgb(187, 177, 146);

$size1BgColor: rgb(248, 223, 140);
$size2BgColor: rgba(248, 223, 140, 0.767);
$size3BgColor: rgba(245, 229, 177, 0.767);

$size1Color: rgba(167, 17, 17, 0.692);
$size2Color: rgb(14, 14, 148);
$size3Color: rgb(116, 14, 141);

$priceBgColor: rgba(248, 223, 140, 0.3);